<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>972351591736-gn93m56133q6c0ebq9l1jpgqcde6krhs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972351591736-gn93m56133q6c0ebq9l1jpgqcde6krhs</string>
	<key>API_KEY</key>
	<string>AIzaSyC71Cllk99O47HmOveCmKd1WFfJy7risqs</string>
	<key>GCM_SENDER_ID</key>
	<string>972351591736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CraunicProductions.StackAStack</string>
	<key>PROJECT_ID</key>
	<string>stackastack-603b5</string>
	<key>STORAGE_BUCKET</key>
	<string>stackastack-603b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972351591736:ios:fd27d286d1c06407</string>
	<key>DATABASE_URL</key>
	<string>https://stackastack-603b5.firebaseio.com</string>
</dict>
</plist>